<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/assets/euler/core/css/info-page.css}">

    <title th:text="${euler.ctx.__SITE_NAME}">Euler Framework</title>
</head>
<body>
<div class="container">
    <div class="title error">404</div>
    <div class="actions">
        <div class="action"><a th:href="@{/}" th:text="#{_GO_HOME}">Go Home</a></div>
    </div>
</div>
<footer>
    <span><a href="/static" th:href="@{/}"
             th:text="${euler.ctx.__SITE_NAME}">Euler Framework</a></span>
    <span>&copy; <span class="js-current-year">2026</span><script>document.querySelector('.js-current-year').textContent = new Date().getFullYear();</script> <a
            href="https://www.eulerproject.io"
            th:href="${euler.ctx.__COPYRIGHT_HOLDER_WEBSITE}"
            th:text="${euler.ctx.__COPYRIGHT_HOLDER}">Euler Project</a></span>
</footer>
</body>
</html>
