<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/assets/euler/core/css/info-page.css}">

    <title th:text="${euler.ctx.__SITE_NAME}">Euler Framework</title>
</head>
<body>
<div class="container">
    <div class="title error">Oops!</div>
    <div class="actions">
        <div class="action"><a th:href="@{/}" th:text="#{_GO_HOME}">Go Home</a></div>
    </div>
    <div class="exception">
        <div><label>error:</label><span th:text="${error.code + ' ' + error.error}">400 Bad Request</span></div>
        <div th:if="${error.message} != null"><label>message:</label><span th:text="${error.message}">some error message</span></div>
        <div><label>timestamp:</label><span th:text="${error.timestamp}">Wed Feb 26 22:55:08 CST 2025</span></div>
        <div th:if="${error.exception} != null"><label>exception:</label><span th:text="${error.exception}">Exception type</span></div>
        <div th:if="${error.trace} != null"><pre th:text="${error.trace}">some exception thrown:
some error...</pre>
        </div>
    </div>
</div>
<footer>
    <span><a href="/static" th:href="@{/}"
             th:text="${euler.ctx.__SITE_NAME}">Euler Framework</a></span>
    <span>&copy; <span class="js-current-year">2026</span><script>document.querySelector('.js-current-year').textContent = new Date().getFullYear();</script> <a
            href="https://www.eulerproject.io"
            th:href="${euler.ctx.__COPYRIGHT_HOLDER_WEBSITE}"
            th:text="${euler.ctx.__COPYRIGHT_HOLDER}">Euler Project</a></span>
</footer>
</body>
</html>
