#footer {
    background-color: #efefef;
    text-align: center;
    padding: 12px 0 0 0;
    height:38px;
}

#header {
    background-color: #E0ECFF;
    color:#444;
    font-size: 20px;
    line-height:50px;
    padding: 0 10px 0 10px;
    height:100%;
}

#header > * a{
    color: #444;
    text-decoration:none; 
}

#footer > a{
    color: #444;
}

#site-title{
    width:200px;
}

#site-title > a:hover{
    color: #444;
    text-decoration:underline;
}

#user-info{
    width:200px;
    text-align: right;
    padding-right: 12px;
    font-size: 12px;
}

#user-info > * a:hover{
    color: #444;
    text-decoration:underline;
}

#sys-menu > * li {
    height: 27px;
    line-height: 27px;
    font-size: 12px;
    text-align: left;
    display: block;    
    position: relative;
    padding-left: 9px;
    margin-left: 12px;
    border-left: 1px dotted #9dbdd6;
    border-bottom: 1px dotted #9dbdd6;
}

#sys-menu > * li:hover{
    background: #eee;
}

#sys-menu > * li:before{
    content: "";
    display: inline-block;
    position: absolute;
    width: 7px;
    left: 0px;
    top: 13px;
    border-top: 1px dotted #9dbdd6;
}

#sys-menu > * a {
    color: #222;
    text-decoration:none;
}

#main-content > .tabs-panels > .panel > .panel-body,
#header-zone,
#footer-zone,
#menu-zone {
    overflow: hidden;
}

#header-zone {
    height:50px;border:0;
}

#footer-zone {
    height:50px;border:0;
}

#menu-zone {
    width:200px;
}

#content-zone {
    background:#eee;padding:0;border:0;
}

#index-tab {
    overflow:auto;padding:15px;
}


