<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
    
    <bean id="userContext" class="net.eulerform.web.core.security.authentication.util.UserContext">
        <property name="userDetailsService" ref="userDetailsService"/>
    </bean>    
    
    <bean id="userDao" class="net.eulerform.web.core.security.authentication.dao.impl.UserDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="clientDao" class="net.eulerform.web.core.security.authentication.dao.impl.ClientDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="resourceDao" class="net.eulerform.web.core.security.authentication.dao.impl.ResourceDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="scopeDao" class="net.eulerform.web.core.security.authentication.dao.impl.ScopeDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="grantTypeDao" class="net.eulerform.web.core.security.authentication.dao.impl.GrantTypeDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="authorityDao" class="net.eulerform.web.core.security.authentication.dao.impl.AuthorityDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="urlMatcherDao" class="net.eulerform.web.core.security.authentication.dao.impl.UrlMatcherDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <bean id="userService" name="userDetailsService" class="net.eulerform.web.core.security.authentication.service.impl.UserService">
        <property name="userDao" ref="userDao"/>
        <property name="passwordEncoder" ref="passwordEncoder"/>
    </bean>
    
    <bean id="clientService" name="clientDetailsService" class="net.eulerform.web.core.security.authentication.service.impl.ClientService">
        <property name="clientDao" ref="clientDao"/>
        <property name="resourceDao" ref="resourceDao"/>
        <property name="scopeDao" ref="scopeDao"/>
        <property name="grantTypeDao" ref="grantTypeDao"/>
        <property name="passwordEncoder" ref="passwordEncoder"/>
        <property name="cacheEnabled" value="${clientDetailsServiceCache.enabled}"/>
        <property name="cacheSeconds" value="${clientDetailsServiceCache.cacheSeconds}"/>
    </bean>
    
    <bean id="authorityService" class="net.eulerform.web.core.security.authentication.service.impl.AuthorityService">
        <property name="urlMatcherDao" ref="urlMatcherDao"/>
        <property name="authorityDao" ref="authorityDao"/>
    </bean>   
    
    <bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
    
    <bean id="codeTableDao" class="net.eulerform.web.module.basedata.dao.impl.CodeTableDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="codeTableService" class="net.eulerform.web.module.basedata.service.impl.CodeTableService">
        <property name="codeTableDao" ref="codeTableDao"/>
    </bean>
</beans>
