<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
    
    <bean id="codeTable" class="net.eulerform.web.module.basedata.util.CodeTableTool">
        <property name="baseDataService" ref="baseDataService"/>
    </bean> 

    <bean id="moduleDao" class="net.eulerform.web.module.basedata.dao.impl.ModuleDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="pageDao" class="net.eulerform.web.module.basedata.dao.impl.PageDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="codeTableDao" class="net.eulerform.web.module.basedata.dao.impl.CodeTableDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="baseDataService" class="net.eulerform.web.module.basedata.service.impl.BaseDataService">
        <property name="codeTableDao" ref="codeTableDao"/>
        <property name="moduleDao" ref="moduleDao"/>
        <property name="pageDao" ref="pageDao"/>
    </bean>
</beans>
