<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/assets/euler/core/css/info-page.css}">

    <title th:text="${euler.ctx.__SITE_NAME}">Euler Framework</title>
</head>
<body>
<div class="container">
    <div class="title " th:text="#{${__message}}">Message</div>
    <div class="info"><span th:text="#{_PAGE_WILL_REDIRECT}">Page Will Redirect</span><span>&nbsp;</span><span id="wait" th:text="${__wait}">5</span><span>s</span></div>
    <div class="actions">
        <div class="action"><a th:href="${__target.href}"  href="/#" id="target" th:text="#{_REDIRECT_NOW}">Redirect Now</a></div>
        <div class="action"><a th:href="@{/}" href="/" th:text="#{_GO_HOME}">Go Home</a></div>
    </div>
</div>
<footer>
    <span><a href="/static" th:href="@{/}"
             th:text="${euler.ctx.__SITE_NAME}">Euler Framework</a></span>
    <span>&copy; <span class="js-current-year">2026</span><script>document.querySelector('.js-current-year').textContent = new Date().getFullYear();</script> <a
            href="https://www.eulerproject.io"
            th:href="${euler.ctx.__COPYRIGHT_HOLDER_WEBSITE}"
            th:text="${euler.ctx.__COPYRIGHT_HOLDER}">Euler Project</a></span>
</footer>

<script type="text/javascript">
    (function () {
        var wait = document.getElementById('wait');
        var href = document.getElementById('target').href;
        var interval = setInterval(function () {
            var time = --wait.innerHTML;
            if (time <= 0) {
                location.href = href;
                clearInterval(interval);
            }
        }, 1000);
    })();
</script>
</body>
</html>
