<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.eulerframework.net/assets/css/themes/default/demo/info-page.css">

    <title th:text="${euler.ctx.__SITE_NAME}">Euler Framework</title>
</head>
<body>
<div class="title success">SUCCESS</div>
<div class="info" th:text="${__message}"></div>
<div class="target-list">
    <span th:each="target : ${__targets}"><a th:href="${target.href}" th:text="${target.name}">Go Somewhere.</a></span>
</div>
</body>
</html>