<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" th:href="@{/assets/euler/security/css/single-form.css}">

    <title th:text="${euler.ctx.__SITE_NAME}">Euler Framework</title>
</head>
<body>
<div class="wrapper">
    <div class="wrapper-inner">
        <div class="title-wrapper">
            <span class="" th:text="#{_CHANGE_PASSWORD}">Change Password</span>
        </div>
        <div class="form-wrapper">
            <form th:action="@{${changePasswordProcessingUrl}}" id="main-form"
                  class="full-line-form" method="post">
                <div class="form-group has-feedback">
                    <label class="control-label" for="old-password" th:text="#{_CURRENT_PASSWORD}">Current Password</label><input
                        class="form-control" type="password" id="old-password" name="oldRawPassword"/>
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label" for="new-password" th:text="#{_NEW_PASSWORD}">New
                        Password</label><input
                        class="form-control" type="password" id="new-password" name="newRawPassword"/>
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label" for="confirm-password" th:text="#{_CONFIRM_PASSWORD}">Confirm
                        Password</label><input
                        class="form-control" type="password" id="confirm-password"/>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-success" onclick="submitForm()" th:text="#{_SUBMIT}">Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
    <footer class="footer-wrapper">
        <span><a href="/static" th:href="@{/}"
                 th:text="${euler.ctx.__SITE_NAME}">Euler Framework</a></span>
        <span>&copy; <span class="js-current-year">2026</span><script>document.querySelector('.js-current-year').textContent = new Date().getFullYear();</script> <a
                href="https://www.eulerproject.io"
                th:href="${euler.ctx.__COPYRIGHT_HOLDER_WEBSITE}"
                th:text="${euler.ctx.__COPYRIGHT_HOLDER}">Euler Project</a></span>
    </footer>
</div>

<div style="display: none">
    <span id="attr_context-path" th:text="${euler.ctx.__CONTEXT_PATH}">/</span>
    <span id="attr_confirm-password-not-match" th:text="#{_CONFIRM_PASSWORD_NOT_MATCH}">The passwords you entered do not match.</span>
</div>
<script th:src="@{/assets/euler/security/js/euler-form.js}"></script>
<script>
    (function () {
        var confirmNotMatch = document.getElementById('attr_confirm-password-not-match').innerText;

        var newPasswordInput = document.getElementById('new-password');
        var confirmInput = document.getElementById('confirm-password');

        eulerForm.bindConfirmPassword(confirmInput, newPasswordInput, confirmNotMatch);

        window.submitForm = function () {
            if (!eulerForm.validForm(document.getElementById('main-form'))) {
                return;
            }
            document.getElementById('main-form').submit();
        };
    })();
</script>
</body>
</html>
