<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" th:href="@{/assets/euler/security/css/single-form.css}">

    <title th:text="${euler.ctx.__SITE_NAME}">Euler Framework</title>
</head>

<body>
<div class="wrapper">
    <div class="wrapper-inner">
        <div class="title-wrapper">
            <span th:text="#{_CHANGE_PASSWORD}">Change Password</span>
        </div>
        <div class="form-wrapper">
            <form id="main-form" th:action="@{${changePasswordProcessingUrl}}"
                  class="full-line-form" method="post"
                  data-prevalidate>
                <div class="form-group has-feedback">
                    <label class="control-label" for="old-password" th:text="#{_CURRENT_PASSWORD}">Current Password</label>
                    <input id="old-password" name="oldRawPassword" type="password"
                           class="form-control"
                           autocomplete="current-password"/>
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label" for="new-password" th:text="#{_NEW_PASSWORD}">New Password</label>
                    <input id="new-password" name="newRawPassword" type="password"
                           class="form-control"
                           autocomplete="new-password"/>
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label" for="confirm-password" th:text="#{_CONFIRM_PASSWORD}">Confirm Password</label>
                    <input id="confirm-password" type="password"
                           class="form-control"
                           autocomplete="new-password"
                           data-confirm-source="new-password"
                           th:data-mismatch-message="#{_CONFIRM_PASSWORD_NOT_MATCH}"/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success" th:text="#{_SUBMIT}">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <footer class="footer-wrapper">
        <span><a href="/static" th:href="@{/}"
                 th:text="${euler.ctx.__SITE_NAME}">Euler Framework</a></span>
        <span>&copy; <span class="js-current-year">2026</span><script>document.querySelector('.js-current-year').textContent = new Date().getFullYear();</script> <a
                href="https://www.eulerproject.io"
                th:href="${euler.ctx.__COPYRIGHT_HOLDER_WEBSITE}"
                th:text="${euler.ctx.__COPYRIGHT_HOLDER}">Euler Project</a></span>
    </footer>
</div>

<script th:src="@{/assets/euler/security/js/euler-form.js}"></script>
</body>
</html>
