<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="https://cdn.eulerframework.net/assets/lib/bootstrap/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="https://cdn.eulerframework.net/assets/lib/loader/loaders.min.css"
          rel="stylesheet">
    <link href="https://cdn.eulerframework.net/assets/css/themes/default/demo/single-form.css"
          rel="stylesheet">

    <style>
        .loading {
            border: 2px solid #666;
            border-top-color: transparent;
            border-radius: 100%;
            width: 14px;
            height: 14px;
            margin: 10px;
            animation: circle infinite 1s linear;
        }

        .has-error .form-control-feedback-msg {
            color: #a94442;
        }

        .form-control-feedback-msg {
            display: block;
            margin-bottom: -15px;
            line-height: 15px;
            font-size: 0.6em;
        }

        .captcha-group .form-control {
            width: 60%;
            display: inline-block;
        }

        .captcha-group label {
            display: block;
        }

        .captcha-group .captcha {
            display: inline-block;
            width: 40%;
            text-align: right;
        }

        .captcha-group .form-control-feedback {
            right: 120px;
        }
    </style>

    <title th:text="${euler.ctx.__SITE_NAME}">Euler Framework</title>
</head>
<body>
<div class="wrapper">
    <div class="wrapper-inner">
        <div class="title-wrapper">
            <span class="" th:text="#{_CHANGE_PASSWORD}">Change Password</span>
        </div>
        <div class="form-wrapper">
            <form th:action="${euler.ctx.__CONTEXT_PATH} + ${changePasswordProcessingUrl}" id="main-form"
                  class="full-line-form" method="post">
                <div class="form-group has-feedback">
                    <label class="control-label" for="old-password" th:text="#{_CURRENT_PASSWORD}">Current Password</label><input
                        class="form-control" type="password" id="old-password" name="oldRawPassword"/>
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label" for="new-password" th:text="#{_NEW_PASSWORD}">New
                        Password</label><input
                        class="form-control" type="password" id="new-password" name="newRawPassword"/>
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label" for="confirm-password" th:text="#{_CONFIRM_PASSWORD}">Confirm
                        Password</label><input
                        class="form-control" type="password" id="confirm-password"/>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-success" onclick="submit()" th:text="#{_SUBMIT}">Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
    <footer
            class="navbar navbar-inverse navbar-fixed-bottom footer-wrapper">
        <span><a href="/static" th:href="${euler.ctx.__CONTEXT_PATH} + '/'"
                 th:text="${euler.ctx.__SITE_NAME}">Euler Framework</a></span>
        <span>&copy; <script>document.write(new Date().getFullYear())</script> <a
                href="https://www.eulerproject.io"
                th:href="${euler.ctx.__COPYRIGHT_HOLDER_WEBSITE}"
                th:text="${euler.ctx.__COPYRIGHT_HOLDER}">Euler Project</a></span>
    </footer>
    </footer>
</div>

<div style="display: none">
    <span id="attr_context-path" th:text="${euler.ctx.__CONTEXT_PATH}">/</span>
    <span id="attr_confirm-password-not-match" th:text="#{_CONFIRM_PASSWORD_NOT_MATCH}">The passwords you entered do not match.</span>
</div>
<script src="https://cdn.eulerframework.net/assets/lib/jquery/jquery-1.12.4.min.js"></script>
<script src="https://cdn.eulerframework.net/assets/lib/bootstrap/js/bootstrap.min.js"></script>

<script>
    const __CONTEXT_PATH = document.getElementById('attr_context-path').innerText;
    const __CONFIRM_PASSWORD_NOT_MATCH = document.getElementById('attr_confirm-password-not-match').innerText;

    const eulerForm = {};
    eulerForm.setLoadStatus = function (element) {
        this.clearStatus(element);
        $(element).parent().append('<span class="form-control-feedback"><div class="loading"></div></span>');
    };
    eulerForm.setSuccessStatus = function (element) {
        this.clearStatus(element);
        $(element).parent().addClass('has-success');
        $(element).parent().append('<span class="glyphicon glyphicon-ok form-control-feedback"></span>');
    };
    eulerForm.setErrorStatus = function (element, msg) {
        this.clearStatus(element);
        $(element).parent().addClass('has-error');
        $(element).parent().append('<span class="glyphicon glyphicon-remove form-control-feedback"></span><span class="form-control-feedback-msg">' + msg + '</span>');
    };
    eulerForm.clearStatus = function (element) {
        $(element).parent().removeClass('has-error has-success');
        let objs = $(element).nextAll();
        for (let i = 0; i < objs.length; i++) {
            if ($(objs[i]).hasClass("form-control-feedback") === true ||
                $(objs[i]).hasClass("form-control-feedback-msg") === true) {
                $(objs[i]).remove();
            }
        }
    };
    eulerForm.validForm = function (element) {
        let objs = $(element).children('.form-group.has-error');
        return typeof (objs) == 'undefined' || objs == null || objs.length === 0;
    };

    // $("#new-password").blur(function () {
    //     let input = this;
    //     eulerForm.setLoadStatus(input);
    //
    //     $.ajax({
    //         url: __CONTEXT_PATH + '/ajax/validPassword',
    //         type: 'GET',
    //         async: true,
    //         data: {password: $(input).val()},
    //         error: function (XMLHttpRequest, textStatus, errorThrown) {
    //             let response = JSON.parse(XMLHttpRequest.responseText);
    //             eulerForm.setErrorStatus(input, response.error_description);
    //         },
    //         success: function (data, textStatus) {
    //             eulerForm.setSuccessStatus(input);
    //         }
    //     });
    // });

    $("#confirm-password").blur(function () {
        if ($(this).val() == null || $(this).val() === "") {
            return;
        }

        if ($(this).val() === $("#new-password").val()) {
            eulerForm.setSuccessStatus(this);
        } else {
            eulerForm.setErrorStatus(this, __CONFIRM_PASSWORD_NOT_MATCH);
        }
    });

    function submit() {
        if (!eulerForm.validForm('#main-form')) {
            return;
        }
        $('#main-form').submit();
    }
</script>
</body>
</html>