<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" th:href="@{/assets/euler/security/css/single-form.css}">

    <title th:text="${euler.ctx.__SITE_NAME}">Euler Framework</title>
</head>

<body>
<div class="wrapper">
    <div class="wrapper-inner">
        <div class="title-wrapper">
            <span th:text="#{_CREATE_YOUR_ACCOUNT}">Create your account</span>
        </div>
        <div class="form-wrapper">
            <form id="main-form" th:action="@{${signupProcessingUrl}}"
                  class="full-line-form" method="post">
                <div class="form-group has-feedback">
                    <label class="control-label" for="username" th:text="#{_USERNAME}">Username</label>
                    <input id="username" name="username" type="text"
                           class="form-control"
                           autocomplete="username"
                           th:data-validate-url="@{/ajax/validUsername}"/>
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label" for="password" th:text="#{_PASSWORD}">Password</label>
                    <input id="password" name="password" type="password"
                           class="form-control"
                           autocomplete="new-password"
                           th:data-validate-url="@{/ajax/validPassword}"/>
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label" for="confirm-password" th:text="#{_CONFIRM_PASSWORD}">Confirm Password</label>
                    <input id="confirm-password" type="password"
                           class="form-control"
                           autocomplete="new-password"
                           data-confirm-source="password"
                           th:data-mismatch-message="#{_CONFIRM_PASSWORD_NOT_MATCH}"/>
                </div>
                <div class="form-group captcha-group has-feedback">
                    <label class="control-label" for="captcha" th:text="#{_CAPTCHA}">Type the characters in the image</label>
                    <input id="captcha" name="captcha" type="text"
                           class="form-control"
                           autocomplete="off"
                           th:data-validate-url="@{/captcha/validCaptcha}"
                           data-validate-extra="scope=signup"/>
                    <span class="captcha">
                        <img id="captcha-img" alt="Captcha"
                             th:src="@{/captcha(scope='signup')}"
                             th:data-refresh-url="@{/captcha(scope='signup')}">
                    </span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success" th:text="#{_SIGN_UP}">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
    <footer class="footer-wrapper">
        <span><a href="/static" th:href="@{/}"
                 th:text="${euler.ctx.__SITE_NAME}">Euler Framework</a></span>
        <span>&copy; <span class="js-current-year">2026</span><script>document.querySelector('.js-current-year').textContent = new Date().getFullYear();</script> <a
                href="https://www.eulerproject.io"
                th:href="${euler.ctx.__COPYRIGHT_HOLDER_WEBSITE}"
                th:text="${euler.ctx.__COPYRIGHT_HOLDER}">Euler Project</a></span>
    </footer>
</div>

<script th:src="@{/assets/euler/security/js/euler-form.js}"></script>
</body>
</html>
