<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:task="http://www.springframework.org/schema/task"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
           http://www.springframework.org/schema/task
           http://www.springframework.org/schema/task/spring-task-4.2.xsd">

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="fileEncoding" value="utf-8" />
        <property name="ignoreUnresolvablePlaceholders" value="true" />
        <property name="location" value="classpath:config.properties"/>
    </bean>

    <import resource="db_config.xml"/>
    
    <bean id="blogService" class="net.eulerform.web.module.demo.service.impl.BlogService">
        <property name="blogDao" ref="blogDao"/>
    </bean>
    <bean id="blogDao" class="net.eulerform.web.module.demo.dao.impl.BlogDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <bean id="taskJob" class="net.eulerform.web.module.demo.task.Job"/>
    <!-- task:scheduled-tasks>   
        <task:scheduled ref="taskJob" method="job1" cron="*/1 * * * * ?" fixed-delay="60000"/>   
    </task:scheduled-tasks>-->
    
    <bean id="job" class="net.eulerform.web.module.authentication.task.SecurityMethodInvokingJobDetailFactoryBean">  
        <property name="targetObject" ref="taskJob" />
        <property name="targetMethod" value="job" />
    </bean>
    
    <bean id="simpleTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">  
        <property name="jobDetail" ref="job" />  
        <property name="startDelay" value="0" /><!-- 调度工厂实例化后，经过0秒开始执行调度 -->
        <property name="cronExpression" value="*/2 * * * * ?" /> 
    </bean>
    
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="startupDelay" value="10"/>
        <property name="triggers">  
            <list>  
                <!-- <ref bean="simpleTrigger" /> --> 
            </list>  
        </property>  
    </bean>
    
</beans>
