<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
    
    <bean id="userDao" class="net.eulerframework.web.module.authentication.dao.UserDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="groupDao" class="net.eulerframework.web.module.authentication.dao.GroupDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="authorityDao" class="net.eulerframework.web.module.authentication.dao.AuthorityDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>  
    
    <bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
    
    <!-- Spring Security 白名单 -->
    <import resource="beans-security-exclude-conf.xml"/>
    <!-- Spring Security WEB 验证方式配置 -->
    <import resource="beans-security-web-conf.xml"/>
    <!-- Spring Security API 验证方式配置 -->
    <import resource="classpath*:config/beans-security-api-conf.xml"/>
</beans>
